body { background-color: #e5f1a8;
    font-family: Arial, sans-serif;
    color: navy;
    text-shadow: 1px 1px 1px #f5fffa;  }

h1{background-color: navy; color: floralwhite;
    padding: 30px;
    margin-top: 0;
    text-align: center;
    font-size: 50px;}

video {width:100%; height: auto;
    max-width: 540px;
    margin-left: 28%;}

audio{  width: 540px;
        margin-left: 28%;}

iframe{margin-left: 28%;  }

h2{text-align: center;}

p {text-align: center;}

ul li{list-style-type: none;
    display: inline;}
ul li img {
    margin-left: 5%;
    padding: 10px 8px 25px 8px;
    background: #eee;
    border: 1px solid #fff;
    box-shadow: 2px 2px 2px;

}
.p1 { z-index: 1;
    transform: rotate(-3deg);
    }
.p2 {z-index: 2;
   transform: rotate(3deg);
    }
.p3 {z-index:3;
    transform: rotate(-3deg);}
.p4 {z-index:4;
    transform: rotate(3deg);}

footer {background-color: navy; color: white;
    padding: 15px 5px;
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 0;
    text-shadow: none;}
